* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #eeeeee;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
}
/* start o-categorie */

.o-categorie {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  margin: 4rem 0.2rem;

  /* start o-figures */

  .o-figures {
    position: absolute;
    z-index: -1;

    .o-ellipse {
      position: relative;
      left: 65%;
    }

    .o-waves {
      position: absolute;
      left: -3rem;
      top: 31rem;
    }
  }
  /* end o-figures */

  /* start o-categorie-title */

  .o-categorie-title {
    position: absolute;
    left: 2.5rem;
    top: -1rem;
    color: #250440;

    /* start o-title-game */

    .o-title-game {
      display: block;
      width: 90rem;
      height: 24rem;
      position: relative;
      left: -2rem;
      text-align: center;
      border: 1px solid;
      font-size: 70px;
      background: rgb(74, 8, 128);
      h1 {
        position: relative;
        top: 80px;
        color: #ffffff;
      }

      button {
        width: 9rem;
        padding: 10px;
        position: absolute;
        top: 10px;
        left: 40px;
        color: #ffffff;
        background: none;
        border: 2px solid;
        cursor: pointer;
        border-radius: 0.12rem;
        font-size: 10px;

        img {
          width: 25%;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.4);
        }
      }
    }
    /* end o-title-game */
  }
  /* end o-categorie-title */

  /* start o-categorie-list */

  .o-categorie-list {
    position: relative;
    top: 40px;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    margin: 1rem;

    button {
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
  /* end o-categorie-list */

  /* start o-games */

  .o-games {
    margin: 20rem;
    height: 10rem;

    .o-games-row {
      width: 1440px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  /* end o-games */
}
/* end o-categorie */

@media only screen and (max-width: 768px) {
  /* Start o-figures */
  .o-figures {
    h1 {
      width: 340px;
    }

    .o-ellipse,
    .o-waves {
      display: none;
    }
  }
  /* Start o-figures */

  /* Start o-title-game */

  .o-title-game {
    width: 27.2rem;
    height: 5rem;
    border: 1px solid;
    h1 {
      position: absolute;
      margin: 80px;
      right: 33rem;
      bottom: 10px;
      font-size: 60px;
    }

    button {
      margin: 1px -2rem;
    }
  }
  /* end o-title-game */

  /* Start o-categorie-list */

  .o-categorie-list {
    display: flex;
    flex-wrap: wrap;
  }
  /* end o-categorie-list */
  
  /* start o-games */

  .o-games {
    margin: 20rem;
    height: 10rem;

    .o-games-row {
      width: 144px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  /* end o-games */

}
